<div class="col-lg-12" style="margin-top:20px; display:none" id="MenuConfDiv">
    <div class="row">
        <div class="col-lg-12">
            {% include 'modules/servercast/conf_menu.html' %}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 divConf" id="detConf_general">
            {% include 'modules/servercast/Conf_general.html' %}
        </div>
        <div class="col-lg-12 divConf" id="detConf_limites" style="display: none">
            {% include 'modules/servercast/Conf_limites.html' %}
        </div>
    </div>
</div>